.box {
    display:inline-block;
    width: 200px;
    padding:0,5em;
    background-color: bisque;
}

.box2 {
    display:inline;
    width: 200px;
    padding:0,5em;
    background-color: bisque;
}

.box3 {
    display:block;
    width: 200px;
    padding:0,5em;
    background-color: bisque;
}