body {
    background-color: bisque;
}
 
.info {
    background-color: blueviolet;
    padding: 1rem;
}
/*fontti pääotsikolle sekä kakkos-otsikolle */
h1, h2 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }  
.card {
    background-color: blueviolet;
    border: 2px solid;
    border-radius: 5px;
    padding: 1rem;
    color:azure;
}
.card2 {
    background-color: blueviolet;
    border: 2px solid;
    border-radius: 10px;
    padding: 1rem;
    color:azure;
    line-height: 1.6;
}
#teksti {
    color: #eb4034;
}

/* 1. Vain articlen SUORA h2-lapsi */
.post > h2 {
  color: tomato;
}

/* 2. h2:ta HETI seuraava sisarus-p */
.post > h2 + p {
  font-weight: bold;
}

/* 3. KAIKKI articlen sisällä olevat p:t, syvyydestä riippumatta */
.post p {
  line-height: 1.6;
}

/* HAASTE: articlen 2. lapsi eli Johdanto */
.post > :nth-child(2) {
  font-style: italic;
}

.form-group input[type="email"] {
border: 2px solid crimson;
}

.form-group input[required]{
border: 2px solid rgb(20, 53, 220);
}

button:focus-visible, input:focus-visible {
    outline: 2px solid rgb(220, 20, 20);
}

input[type="checkbox"]:checked + label {
    font-weight: bold;
}

