body {
    background-color: #c6cfd2;
    font-size: 14px;
}
    h1 {
        color: #ff5733;
        font-size: 2em
    }
    
        .Yhteystiedot{
            text-align: center;
        }
    
    h1, h2{
        font-family: Arial, Helvetica, sans-serif;
    }