body {
    background-color: #c6cfd2;
    font-size: 14px;
}
    h1 {
        color: #ff5733;
        font-size: 2em;
    }
    
        .Yhteystiedot{
            text-align: center;
        }
    
    h1, h2{
        font-family: Arial, Helvetica, sans-serif;
    }
    table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #999;
    padding: 8px 12px;
}
thead th {
    background-color: #2c2c54;
    color: white;
}