body {
    background-color: #c6cfd2;
    font-size: 14px;
}

h1 {
    color: #ff5733;
    font-size: 2em;
}

.Yhteystiedot {
    text-align: center;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #999;
    padding: 8px 12px;
}

thead th {
    background-color: #2c2c54;
    color: white;
}
/* Lomakkeet */
form label,
form button {
    display: block;
    margin-top: 10px;
}

form input,
form textarea {
    width: 50%;
    padding: 5px;
    margin-top: 5px;
}
form fieldset {
    width: 50%;
    margin-top: 15px;
    padding: 10px;
}

form input[type="checkbox"] {
    width: auto;
    margin-top: 0;
}

form fieldset label {
    display: inline;
}
form input[type="radio"] {
    width: auto;
    margin-top: 0;
}
.header_otsikko{
    display: inline;
}

header{
    background-color: #a8a8ff;
    color: white;
    padding: 10px;}
nav, footer{
    background-color: #6d6de7;
    color: white;
    padding: 10px;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}
p{
    margin: 10px 10px;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}
aside{
    background-color: #e0e0e0;
    padding: 10px;
    margin-top: 10px;
}
footer{
    text-align: center;
}